<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default card-view">
			<div class="panel-heading">
				<div class="pull-left">
					<h6 class="panel-title txt-dark">Question Table</h6>
				</div>
				<div class="pull-right">
					<a class="inline-block" style="cursor: pointer;" href="{% url 'question:create_question' campaign_pk %}">
						<i class="icon-plus" style="vertical-align: middle;font-size: 20px;color: #000"></i> Add Queston
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="table-wrap">
						<div class="table-responsive">
							<table id="datable_1" class="table table-hover display  pb-30" >
								<thead>
									<tr>
										<th>#</th>
										<th>Question</th>
										<th>Question Type</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
		
									{% for question in questions %}
									<tr>
										<td> {{forloop.counter}} </td>
										<td> {{question.question}} </td>
										<td> {{question.question_type}} </td>
										<td class="text-nowrap">
											<a class="mr-25" href="{% url 'campaign:detail_campaign' campaign.id %}" > <i class="fa fa-book text-inverse m-r-10"></i></a>
											<a class="mr-25" href="{% url 'question:edit_question' question.id %}" > <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
											<a href="javascript:delete_question({{question.id}});" > <i class="fa fa-close text-danger"></i> </a> </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<form method="POST" action="">
	{% csrf_token %}
</form>
<script type="text/javascript">
	function delete_question(id){
		console.log(id)
		let url_tmplate = "{% url 'question:delete_question' campaign.id 0 %}";
		url_tmplate = url_tmplate.slice(0,-1);
		$('form').attr('action',url_tmplate+id);
		$('form').submit()
	}
</script>