{% extends "base.html" %}
{% load static %}
{% block title %} Standom Admin{% endblock %}
{% block extra_style %}
<style type="text/css">
	.user-img {
		max-width: 50px;
		vertical-align: middle;
	}

</style>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'main:list_user' %}">User</a></li>
	<li class="active"><span>list</span></li>
</ol>
{% endblock %}
{% block content_title%} List User {% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default card-view">
			<div class="panel-heading">
				<div class="pull-left">
					<h6 class="panel-title txt-dark">data Table</h6>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="table-wrap">
						<div class="table-responsive">
							<table id="datable_1" class="table table-hover display  pb-30" >
								<thead>
									<tr>
										<th>#</th>
										<th>Email</th>
										<th>Name</th>
										<th>Score</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
		
									{% for user in users %}
									<tr>
										<td> {{forloop.counter}} </td>
										<td>
											{% if user.avatar %}
												<img class="user-img img-circle" src="{{ user.avatar.url }}" >
											{% endif %}&nbsp;&nbsp;
											{{user.email}}
										</td>
										<td>
											{{user.name}}
										</td>
										<td> {{user.score}} </td>
										<td class="text-nowrap">
											<a class="mr-25" href="{% url 'main:detail_user' user.id %}" > <i class="fa fa-book text-inverse m-r-10"></i></a>
											<a class="mr-25" href="{% url 'main:update_user' user.id %}" > <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
											<a href="javascript:delete_user({{user.id}});" > <i class="fa fa-close text-danger"></i> </a> </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<form method="POST" action="">
	{% csrf_token %}
</form>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
	function delete_user(id){
		console.log(id)
		let url_tmplate = "{% url 'main:delete_user' 0 %}";
		url_tmplate = url_tmplate.slice(0,-1);	
		$('form').attr('action',url_tmplate+id);
		$('form').submit()
	}
</script>
{% endblock %}